{
	admin off
	auto_https off
	ocsp_stapling off
	persist_config off

	servers :8443 {
		name https
		protocols h1 h2
	}

	frankenphp
}

:8443 {
	root * /app/public

	log_skip *

	encode zstd br gzip

	tls /config/cert/tls.crt /config/cert/tls.key

	php_server {
		resolve_root_symlink false
	}
}
